%h1 Listing <%= plural_table_name %>

%table
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%= attribute.human_name %>
<% end -%>
      %th
      %th
      %th

  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% for attribute in attributes -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td= link_to 'Show', <%= show_helper(singular_table_name, type: :path) %>
        %td= link_to 'Edit', <%= edit_helper(singular_table_name, type: :path) %>
        %td= link_to 'Destroy', <%= show_helper(singular_table_name, type: :path) %>, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New <%= human_name %>', <%= new_helper(type: :path) %>
